*::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* créer des outlines sur tous les éléments de la page (permet un debuggage rapide)
* {
    border: 1px solid blue;
} */


/* Paramètre - body */
body {
    width: 100%;
    height: 50vh;
    /* color: black; */
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    /* background-color: white; */
}

*::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*  créer des outlines sur tous les éléments de la page (permet un debuggage rapide)
* {
    border: 1px solid blue;
}  */

body {
    width: 100%;
    color: white;
    font-family: Arial, sans-serif;
    background-color: black;
    /* background-color: white; */
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 10px 20px;
    right: 0;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

.hamburger-menu {
    right: 1rem;

    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger-menu .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .nav-links li {
        margin: 10px 0;
        text-align: center;
    }

    .hamburger-menu {
        display: flex;
        margin-right: 1rem;
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger-menu.active .bar:nth-child(1) {
        /* transform: rotate(45deg) translate(5px, 5px); */
        transform: translateY(0px) rotate(-135deg);
    }

    .hamburger-menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger-menu.active .bar:nth-child(3) {
        /* transform: rotate(-45deg) translate(5px, -5px); */
        transform: translateY(0px) rotate(135deg);
    }
}



/* ___________________________Animation oiseaux */

p {
    height: 10%;
    width: fit-content;
}

/* troisième oiseau modifie sa trajectoire */
#thirdBird {
    transform: translateY(70%);
    transform: translateX(120%);

}

#thirdBird {
    position: absolute;
    top: 10%;
    right: 2px;
    animation: sky 30s linear 0s infinite reverse;
    z-index: 99;
}

#thirdBird img {
    width: 110px;
}

#secondBird {
    position: absolute;
    top: 10%;
    right: 2px;
    animation: sky 30s linear 0s infinite reverse;
    z-index: 99;
}

#secondBird img {
    width: 50px;
}

#secondBird {
    position: absolute;
    top: 10%;
    right: 2px;
    animation: second 30s linear 0s infinite reverse;
    z-index: 99;
}

    /* trajectoire de l'oiseau */
    @keyframes second {
        from {
            top: 30px;
            right: -50px;
        }

        to {
            top: 300px;
            right: 100%;
        }
    }